@CHARSET "ISO-8859-1";

.table
{
    width: 700pt;
    table-layout: fixed;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#table-container
{
	    padding: 5%;
	    text-align: center;
}

#close
{
	width: 40pt;
}

#setup-body
{
	text-align: center;	
}

#tableHeader
{
	border-radius: 50pt;
    background-color: whitesmoke;
    padding: 2.5%;
    margin: 5%;
}

.table-hover>tbody>tr:hover
{
	background-color: white;
}

.table-hover>tbody>tr>th
{
	text-align: center;
    border-color: black;
}

.header-row
{
    pointer-events: none;
}

.highlight
{
	border-color: red;
}

.percentage
{
	width: 80pt;
}

.glyphicon
{
	font-size: 1.2em;
}

.submission
{
	font-size: 3em;
}

#category-display
{
	display: inline;
}