@CHARSET "ISO-8859-1";

.table
{

}

.table {
	width: 25%;
	margin-top:5%;

	border: 50px solid #65a5ce;
	border-radius: 25px;
	padding: 25px;
	height: 25px;
	border-collapse: separate !important;
	
	display: none;
	margin-right: auto;
    margin-left: auto;

}

.thead-default{
	background-color: #f4a442;
}

#table-container
{
	    padding: 5%;
	    text-align: center;
}

#close
{
	width: 40pt;
}

#setup-body
{
	text-align: center;	
}

#tableHeader
{
	border-radius: 50pt;
    background-color: whitesmoke;
    padding: 2.5%;
    margin: 5%;
}

.table-hover>tbody>tr:hover
{
	background-color: white;
}

.table-hover>tbody>tr>th
{
	text-align: center;
    border-color: black;
}

.header-row
{
    pointer-events: none;
}

.highlight
{
	border-color: red;
}

.percentage
{
	width: 80pt;
}

.glyphicon
{
	font-size: 1.2em;
}

.submission
{
	font-size: 3em;
    margin: 5%;

}

.budget-eq
{
	display: inline-block;
}

.trans-input
{
	display: inline-block;
}

.blur-filter {
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    -o-filter: brightness(50%);
    -ms-filter: brightness(50%);
    filter: brightness(50%);
    background-color: rgba(105, 104, 104, 0.61);}

.trans-div
{
    position: absolute;
    top: 35%;
    right: 42%;
    background-color: white;
    padding: 1%;
    border-style: ridge;
	text-align: center;
	display: block;
    border-width: 3pt;
    border-radius: 30pt;
}

.close
{
    position: absolute;
    right: 15pt;
    top: 10pt;
}

.bar
{
	width: 100%;
	background-color: brown;	
}

.no-top
{
    margin-top: 0;
    padding-top: 0;
}

#category-display
{
    display: inline-block;
    padding: 2.5%;
    margin: 2.5%;
    padding-right: 3%;
    padding-left: 3%;
    border-radius: 10%;
    text-align: center;
    background-size: cover;
}

html, body
{
	height: 100%;
}

.inner-egg
{
	background-color: whitesmoke;
    border-radius: 10pt;
}

.egg-p
{
	margin-top: 4pt;
	margin-bottom: 0;
}
#home-div
{
    text-align: center;
    height: 100%
}