@CHARSET "ISO-8859-1";

.table
{
    width: 700pt;
    table-layout: fixed;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#table-container
{
	    padding: 5%;
	    text-align: center;
}

#close
{
	width: 40pt;
}

#setup-body
{
	text-align: center;	
}

#tableHeader
{
	border-radius: 50pt;
    background-color: whitesmoke;
    padding: 2.5%;
    margin: 5%;
}

.table-hover>tbody>tr:hover
{
	background-color: white;
}

.table-hover>tbody>tr>th
{
	text-align: center;
    border-color: black;
}

.header-row
{
    pointer-events: none;
}

.highlight
{
	border-color: red;
}

.percentage
{
	width: 80pt;
}

.glyphicon
{
	font-size: 1.2em;
}

.submission
{
	font-size: 3em;
}

.budget-eq
{
	display: inline-block;
}

.trans-input
{
	display: inline-block;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.trans-div
{
    position: absolute;
    top: 35%;
    right: 42%;
    background-color: white;
    padding: 1%;
    border-style: ridge;
	text-align: center;
}

.close
{
    position: absolute;
    right: 0;
}

.bar
{
	width: 100%;
	background-color: brown;	
}

.no-top
{
	margin-bottom: 0;
	padding-bottom: 0;
}

#category-display
{
	display: inline-block;
    padding: 2.5%;
    margin: 2.5%;
    background-color: #5bc0de;
    border-radius: 10%;
    text-align: center;
}

#home-div
{
	
    text-align: center;
}