@CHARSET "ISO-8859-1";

/* Credit to bootsnipp.com for the css for the color graph */



#valid{
	font-size: 20px;
	text-align: center;
	background-color: #e2b5b5;
	border-radius: 25px;
	color: #6b1a26;
	width: 400px;
	margin-left:auto;
	margin-right:auto;
	left:500px;
}



.colorgraph {
  height: 5px;
  border-top: 0;
  background: #FF9600;
}

.login h2{
    color: #A0522D;
}

h2{
	text-align: center;
}

.error {
  border:25x solid red;
}

