.total-budget
{
    position: absolute;
    margin-left: 45%;
    margin-right: 45%;
    left: 0;
    right: 0;
    white-space: nowrap;
}
.grey-bunny
{
	background-size: cover;
    background-image: url("../images/grey-bunny.png");
}

.white-bunny
{
	background-size: cover;
    background-image: url("../images/white-bunny.png");
    width: 50pt;
}

.egg-blue
{
    background-image: url("../images/egg-blue.png");
}

.egg-green
{
    background-image: url("../images/egg-green.png");
}

.egg-red
{
    background-image: url("../images/egg-red.png");
}

.egg-yellow
{
    background-image: url("../images/egg-yellow.png");
}
