@CHARSET "ISO-8859-1";

#myBtn{
	margin-left:650px;
}

#myModal{
	top:250px;
}


.thead-default{
	background-color: #f4a442;
}

.dropdown ul {
	display:none;
}

.dropdown:hover ul {
	display:block;
}

.table {
	width: 25%;
	margin-top:5%;

	border: 50px solid #65a5ce;
	border-radius: 25px;
	padding: 25px;
	height: 25px;
	border-collapse: separate !important;

}